.form-content-right {
  background-color: #dcdcdc;
  border-radius: 25px;
  margin: 25px auto;
  text-align: center;
}

.form {
  margin: auto;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  font-size: 1.1rem;
  margin-bottom: 6px;
  color: black;
  font-weight: 500;
}

.form-input_name_email {
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.685);
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  margin-bottom: 20px;
  background: #1e90ff;
  border-radius: 25px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
}

.form-input-text {
  height: 100px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.685);
  max-height: 400px;
}
